.header {
  padding: 60px;
  text-align: center;
  background: #7B5;
  color: white;
  font-size: 30px;
}

body{
    background-color: #A9A9A9;
    margin-left: 5%;
    margin-right: 5%;
}
/* heading grouped for all heading */
h1,h2,h3
{
    color: black;
    font-family: verdana;
    text-decoration: underline;
    text-align: center;
}
/* css selectors (IDs) */
/* Paragraph style using IDs */
#maintext
{
    color: black;
    font-family: arial;
    text-align: justify;
}
/* image style using class */
.fullWidthContent
{
    width: 100%;
}
/* style anchor elements (links) */
a
{
    font-size: 35px;
}

div.gallery {
margin: 20px;
border: 1px solid #ccc;
float: right;
width: 305px;
}

div.gallery:hover {
border: 1px solid #777;
}

div.gallery img {
width: 100%;
height: auto;
}


div.desc {
padding: 15px;
text-align: center;
}

section {
display: block;
}
</div>

.footer {
text-align: center;
padding: 3px;
background-color: DarkSalmon;
color: white;
}

.right {padding-right: 150px}
.left {padding-left: 600px}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: dimgray;
    color: aliceblue;
    text-align: center;
}